extends base

mixin materialTable(label, materials)
  if materials.length > 0
    h2= label
    table.material-table
      tr
        th タイトル
        th 作者
        th 出版社
        th 図書館
      each material in materials
        tr
          td= material.title
          td= material.author
          td= material.publisher
          each library in material.libraries
            td= library.name
    hr

block content
  main.main
    +materialTable('本', books)
    +materialTable('CD', cds)
    +materialTable('漫画', comics)
    +materialTable('DVD', dvds)
    
      
